
.logoimg{
    width: 50px;
    height: 50px;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 50px;
}
.title{
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 35px;

}
.text-center {
    text-align: center !important;
    font-size: large;
}
.ion-padding ion-text-center{ 
    width: 30%;
    margin: 1% 0 1% 0;
    margin-top: 500px;
}
h1{
    color: #008000;
}
  