    <ion-content>
    <ion-header>
        <ion-img class="logoimg" src="../assets/icon/logoJTM_prev_ui.png"></ion-img>
        <section id="sp-top-bar">
            <div class="container">
                <div class="row">
                    <div id="sp-top1" class="col-sm-6 col-md-6">
                        <div class="sp-column ">
                            <ul class="sp-contact-info">
                                <li><ion-icon name="location-outline"></ion-icon>&nbsp;&nbsp;Route de Gabes Km2,Médenine</li>
                                <li><ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;+216 26.600.984</li>
                                <li><ion-icon name="mail-unread-outline"></ion-icon>&nbsp;&nbsp;<a href="mailto:Jtm.mednine@yahoo.fr">Jtm.mednine@yahoo.fr</a></li>
                            </ul>
                            
                        </div></div></div></div>
        </section>
        </ion-header>
        <ion-header id="sp-header">
            <div class="container">
            <div class="sp-column ">
        <ul class="menu">
               <a class="button button-ghost grey full-false medium square animate-false anim-type-ghost hover-fill" href="#a-propos-nous" >A propos nous</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <a class="button button-ghost grey full-false medium square animate-false anim-type-ghost hover-fill" href="#nos-services" >Nos Services</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <a class="button button-ghost grey full-false medium square animate-false anim-type-ghost hover-fill" href="http://localhost:8100/suivie/" target="_self" >Suivi de parcelle</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <a class="button button-ghost grey full-false medium square animate-false anim-type-ghost hover-fill" href="#contacter" >Contacter nous</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     
               <a class="button button-ghost grey full-false medium square animate-false anim-type-ghost hover-fill" href="http://localhost:8100/connexion/" target="_self">
                <span class="txt">Connexion</span></a>        
        </ul>
            </div> 
            </div>    
        </ion-header>
        <ion-header id="header" class="header" data-bs-ride="carousel">
         <div class="container h-100 d-flex align-items-center carousel-inner" class="vh-100 carousel slide" >
             <div class="text-center carousel-item active">
                 <br/>
                 <br/>
                 <br/>
                 <br/>
                 <br/>
                 <br/>
                 <br/>
                 <br/>
                 <br/>
                 <br/>
                 
                <h2 class="text-capitalize text-white">Le meilleur service</h2>
                <br/>
                <h1 class="text-uppercase py-2 fw-bold text-white">DJERBA TRANSPORT DES MARCHANDISES</h1>
                <br/>
                <br/>
                <br/>
                <br/>
                <ion-button class="button"><a href="#" class="btn mt-3 text-uppercase" class="text-center">Découvrir maintenant</a></ion-button>
            </div>
         </div>
        </ion-header>
<ion-header class="propos" id="a-propos-nous">
        <section class="page-section" >
        <div class="container">
            <div class="title pt-3 pb-5" class="text-center">
                <h1 class="position-relative d-inline-block ms-4">A propos Djerba Transport</h1>
            </div>
            <br/>
            <br/>
            <br/>
                <ion-grid>
                    <ion-row>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <ion-col>          
                <div class="col-lg-6 orger-lg-0">
                    <ion-img src="../assets/JTM-siege-home.jpg" alt="" class="image"></ion-img>
                </div>
                        </ion-col>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <ion-col>                            
                <div class="col-lg-6 order-lg-1 text-center text-lg-start">
                <p >
                    Bienvenue à JTM Médenine
                </p>
                <h6>Notre société JTM est spécialisé en transport de tous types de marchandises et biens commerciales ou personnels sur le tout le territoire tunisien. 
                <br/>Elle assure l’entreposage à court termes de marchandises transportés dans ses propres dépôts de distributions.</h6>
                <br>
                <p>Notre Histoire</p>
                <h6> En 2000, la société JTM ouvre un entrepôt à Médenine avec une équipe compétente;
                    pour offrir à leurs clients un service professionnel et à la hauteur de leurs exigences.</h6>
                </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div> 
        </section>
    </ion-header>

    <ion-header id="bas" >
        <section class="page-section accueil" id="nos-services">
            <div class="container">
                <div class="title pt-3 pb-5" class="text-center">
                    <h1 class="position-relative d-inline-block ms-4">Nos services</h1>
                </div>
            <br/>
            <br/>
                    <div class="d-flex img-flex">
                        <div class=" col-3">
                            <ion-img class="img-fluid" src="../../assets/JTM-camion-depot.jpg" alt="Transport des marchandises"></ion-img>
                            <br/>
                            <p class="p" class="lead text-muted" class="text-center" color="e76a2d">
                                Transport des marchandises
                            </p> 
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class=" col-3">
                            <ion-img class="img-fluid" src="../../assets/jtm-depot-nord.jpg" alt="Livraison à domicile"></ion-img>
                            <br/>
                            <p class="p" class="lead text-muted" class="text-center">
                                Livraison à domicile
                            </p>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class=" col-3">
                            <ion-img class="img-fluid" src="../../assets/JTM-camion-demenagement.jpg" alt="Démanagment"></ion-img>
                            <br/>
                            <p class="p" class="lead text-muted" class="text-center">
                                Démanagment
                            </p>
                        </div>
                    </div>
            </div> 
        </section>
    </ion-header>

    <ion-header>
        <section class="page-section" id="contacter" class="text-align-center">
            <div class="container">
                <br/>
                <div class="title pt-3 pb-5" class="text-center">
                    <h1 class="position-relative d-inline-block ms-4">Contacter nous</h1>
                </div>    
               <br/>
                <div class="row justify-content-center">
                    <div>
                        <form id="contactForm"  >
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name"><h6>Nom</h6></label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email"><h6>Adresse-mail</h6></label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone"><h6>Numéro Téléphone</h6></label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message"><h6>Message</h6></label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <div class="d-none" id="submitErrorMessage">Error sending message!</div>
                            <ion-button slot="left" shape="round" color="#fff" fill="outline">Valider</ion-button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <br/>
    </ion-header>


        <footer class="footer text-center">
            <div class="footer-content">
                <h1>Djerba Transport des Marchandises de Médenine</h1>
                <p>Notre compagnie JTM Médenine offre le meilleur service de transport de parcelles en Tunisie.</p>
                <ul class="socials">
                    <li><a href="#"><ion-icon name="logo-linkedin" ></ion-icon></a></li>
                    <li><a href="https://www.facebook.com/djerba.transport/"><ion-icon name="logo-facebook" ></ion-icon></a></li>
                    <li><a href="http://localhost:8100/home"><ion-icon name="logo-google" ></ion-icon></a></li>
                    <li><a href="https://www.youtube.com/channel/UCuJynfWChTbDWZrVUhgPgmQ"><ion-icon name="logo-youtube"></ion-icon></a></li>
                 </ul>
            </div>		
        </footer>

        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; JTM Médenine 2022</small></div>
        </div>

    
